[Desktop Entry]
Encoding=UTF-8
Name=MuSE
Comment=MuSE Audio/MIDI Sequnecer
Comment[pl]=Sekwencer Audio/MIDI MuSE
Exec=muse
Icon=muse.png
Terminal=false
Type=Application
Categories=Qt;Audio;Sequencer;
# vi: encoding=utf-8
