[Desktop Entry]
Encoding=UTF-8
Name=MuSE
Comment=MuSE Audio/MIDI Sequnecer
Comment[pl]=MuSE Audio/MIDI sekwencer
Exec=/usr/bin/muse
Terminal=false
Type=Application
Categories=AudioVideo;Sequencer;
# vi: encoding=utf-8
